/* Reset dello stile predefinito del body */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Utilizzo del font Arial o sans-serif se non disponibile */
    background-color: #f5f5f5; /* Colore di sfondo del body */
}

/* Stile per il contenitore principale della pagina */
.container {
    display: flex; /* Utilizza il layout flessibile */
    width: 100%;
    height: 100vh; /* Altezza piena della viewport */
}

/* Stile per lo spazio dedicato ai contatti nella colonna sinistra */
.contactspace {
    flex: 3; /* Utilizza il 30% della larghezza totale della viewport */
    background-color: #fff; /* Sfondo bianco */
    overflow-y: auto; /* Aggiunge una scrollbar se necessario */
}

/* Stile di base per i contatti */
.contact {
    display: flex; /* Utilizza il layout flessibile */
    align-items: center; /* Centra verticalmente gli elementi */
    padding: 10px; /* Spazio interno di 10px */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s ease; /* Animazione del cambio di colore durante l'hover */
    border: 1px solid lightgray ;
}

/* Stile durante l'hover sui contatti */
.contact:hover {
    background-color: #c2c2c2; /* Cambia il colore di sfondo durante l'hover */
}

/* Stile per l'avatar dei contatti */
.avatar {
    border-radius: 50%; /* Bordo arrotondato per creare una forma circolare */
    margin-right: 10px; /* Margine a destra per separare l'avatar dal testo */
    width: 40px; /* Larghezza dell'avatar */
    height: 40px; /* Altezza dell'avatar */
    object-fit: cover; /* Aggiunto per gestire la dimensione e la forma dell'immagine */
}

/* Stile per il nome dei contatti */
span {
    font-weight: bold; /* Testo in grassetto */
}

/* Stile per lo spazio dedicato alla conversazione nella colonna destra */
.chatspace {
    flex: 9; /* Utilizza il 90% della larghezza totale della viewport */
    background-color: #e8dbc2; /* Sfondo grigio chiaro */
    overflow-y: auto; /* Aggiunge una scrollbar se necessario */
}

.lastAccess{
    margin-top: -2px;
    color: #8d8c8c;
}

/* Stile per i messaggi nella conversazione */
.message {
    max-width: 80%; /* Imposta la larghezza massima del messaggio */
    margin-bottom: 10px; /* Aggiunge un margine inferiore per separare i messaggi */
}

.sent {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #d4ffd5; /* Colore di sfondo per i messaggi inviati */
    color: rgb(0, 0, 0); /* Colore del testo per i messaggi inviati */
    border-radius: 10px; /* Aggiunge un bordo arrotondato */
    float: right; /* Allinea a destra */
    clear: both; /* Assicura che ogni messaggio venga visualizzato su una nuova riga */
}

.received {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #f1f1f1; /* Colore di sfondo per i messaggi ricevuti */
    border-radius: 10px; /* Aggiunge un bordo arrotondato */
    float: left; /* Allinea a sinistra */
    clear: both; /* Assicura che ogni messaggio venga visualizzato su una nuova riga */
}

/* Spazio superiore */
.upSpace {
    border: 1px solid lightgray ;
    background-color: #fff;
    height: 80px; /* Altezza di 10px */
    align-items: center;
}

.upSpaceFLex{
    display: flex;
    justify-content: space-between;
}

.upSpaceXS{
    font-size: 20px;
    text-align: center;
}

.fa-magnifying-glass, .fa-paperclip, .fa-ellipsis-vertical, .fa-circle, .fa-message{
    padding: 5px;
}

.searchSpace{
    border: 1px solid lightgray ;
    height: 30px;
}

.inputForSearch{
    border: transparent;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.inputForSearch:hover{
    background-color: #bebebe;
}

/* Spazio per scrivere i messaggi nella parte inferiore della pagina */
.writeSpace {
    border: 1px solid lightgray ;
    justify-content: space-around;
    height: 50px; /* Altezza di 50px */
    width: 100%; /* Larghezza del 100% del contenitore padre */
    background-color: #fff; /* Sfondo bianco */
    display: flex; /* Utilizza il layout flessibile */
    align-items: center; /* Centra verticalmente gli elementi */
    padding: 0 10px; /* Spaziatura interna 0 su i lati e 10px sopra e sotto */
}

input {
    width: 70%;
    background-color: #e6e6e6;
    border: none; /* Nessun bordo */
    outline: none; /* Nessun bordo quando è in focus */
    padding: 8px; /* Spaziatura interna di 8px */
    border-radius: 5px; /* Bordo arrotondato */
    margin-right: 10px; /* Margine a destra di 10px */
}

button {
    background-color: #25D366; /* Colore di sfondo per il pulsante */
    color: #fff; /* Colore del testo bianco */
    border: none; /* Nessun bordo */
    padding: 8px 12px; /* Spaziatura interna */
    border-radius: 5px; /* Bordo arrotondato */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
}

/* Stile per il blocco della chat */
.chat {
    margin-top: 80%; /* Margine superiore del 90% rispetto al contenitore padre */
}
